body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.con{
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 3rem;
    border-radius: 30px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  7px 7px 14px #b3b3b3,
             -7px -7px 14px #ffffff;
}
.con a{
    margin-top: -1.5rem;
    margin-left: -2rem;
}
.upload-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}
h1 {
    margin-top: 0;
}
#message {
    margin-top: 10px;
    color: #4CAF50;
}
a{
    justify-content: start;
}

.tab{
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: inset 6px 6px 12px #a8a8a8,
                inset -6px -6px 12px #ffffff;
             margin: 2rem;
             padding: 2rem;
}
h2 {
    text-align: center;
    margin-top: 1px;
}
table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 90%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
th, td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 4px;
}
.delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.delete-btn:hover {
    background-color: #d32f2f;
}
a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #008CBA;
    text-decoration: none;
    transition: color 0.3s;
}
a:hover {
    color: #005f7f;
}
.d{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}