/* General page styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f9fc;
    margin: 0;
    padding: 0;
}

/* Container styling */
.container {
    width: 95%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}
.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
}

.back-button .btn {
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-button img {
    width: 50px;
    height: 50px;
    color: #fff;
}

/* Header styling */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

table img {
    max-width: 100px;
    height: auto;
    border-radius: 5px;
}
.view-details-button {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    color: #ffffff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s;
    text-align: center;
}

.view-details-button:hover {
    background-color: #035bb9;
    border-color: #007bff;
    color: #ffffff;
}

.view-details-button:active {
    background-color: #007bff;
    border-color: #007bff;
}
